<%= form_for @picture, :html => {:multipart => true} do |f| %>
    <%= f.error_messages %>
    <%= f.hidden_field :product_id %>
    <p>
      <%= f.label :picname %><br />
      <%= f.text_field :picname %>
    </p>
    <p>
      <%= f.file_field :image %>
    </p>
    <p>
      <%= f.label :remote_image_url, "or image URL" %>
      <%= f.text_field :remote_image_url %>
    </p>
    <p><%= f.submit %></p>
<% end %>